<div class="container content">
    <table class="table table-bordered table-responsive-md table-striped text-center table-hover">
        <thead class="thead-dark">
            <th scope="col">Request Id</th>
            <th scope="col">Requestor</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let request of requests">
                <th scope="row">{{ request.id }}</th>
                <td>{{ request.employee }}</td>
                <td>{{ request.startDate }}</td>
                <td>{{ request.endDate }}</td>
                <td>{{ request.title }}</td>
                <td *ngIf="!isRequestOpen(request)"><button type="button" class="btn btn-success">{{ request.status }}</button></td>
                <td *ngIf="isRequestOpen(request)"><button type="button" class="btn btn-warning" (click)="editRequest(request.id)">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>