<div class="container">
    <div class="row border border-primary rounded">
        <div class="col-sm">
            <strong>Requirement Id</strong>
        </div>
        <div class="col-sm">
            {{ request.id }}
        </div>
    </div>

    <div class="row border border-primary rounded">
        <div class="col-sm">
            <strong>Requestor</strong>
        </div>
        <div class="col-sm">
            {{ request.employee }}
        </div>
    </div>

    <div class="row border border-primary rounded">
        <div class="col-sm">
            <strong>Title</strong>
        </div>
        <div class="col-sm">
            {{ request.title }}
        </div>
    </div>

    <div class="row border border-primary rounded">
        <div class="col-sm">
            <strong>Description</strong>
        </div>
        <div class="col-sm">
            {{ request.description }}
        </div>
    </div>

    <div class="row border border-primary rounded">
        <div class="col-sm">
            <strong>Start Date</strong>
        </div>
        <div class="col-sm">
            {{ request.startDate }}
        </div>
    </div>

    <div class="row border border-primary rounded">
        <div class="col-sm">
            <strong>End Date</strong>
        </div>
        <div class="col-sm">
            {{ request.endDate }}
        </div>
    </div>

    <div class="row border border-primary rounded">
        <div class="col-sm">
            <strong>Status</strong>
        </div>
        <div class="col-sm">
            {{ request.status }}
        </div>
    </div>

    <div class="row border border-primary rounded">
        <div class="col-sm">
            <strong>Created Date</strong>
        </div>
        <div class="col-sm">
            {{ request.createdDate }}
        </div>
    </div>

    <div class="row border border-primary rounded">
        <div class="col-sm">
            <strong>Requested Days</strong>
        </div>
        <div class="col-sm">
            {{ getRequestedDays() }}
        </div>
    </div>

    <div *ngIf="isRequestOpend()" class="row border border-primary rounded text-center">
        <div class="col-sm">
            <button type="button" class="btn btn-danger" (click)="rejectRequest()">Reject</button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn btn-success" (click)="approveRequest()">Approve</button>
        </div>
    </div>

    <div class="row border border-primary rounded text-center">
        <div class="col-sm">
            <button type="button" class="btn btn btn-dark" (click)="goHome()">HOME</button>
        </div>
    </div>


</div>